name: Push Tag
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
jobs:
  ghTag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Publish GH Tag
        uses: thejeff77/action-push-tag@f110b453ffb8c4d18880b7338f75e6725b731d81 # v1.0.0
        with:
          tag: ${{ inputs.version }}
          message: '${{ inputs.version }}'
