name: Golang Lint
on:
  workflow_call:
    inputs:
      useTask:
        required: false
        type: boolean
        default: false
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    env:
      GOSUMDB: off
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          # Caching will be done from the following golang-lint action
          cache: ${{ inputs.useTask }}
      - name: Install Task
        uses: arduino/setup-task@v2
        if: ${{ inputs.useTask }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Format
        if: ${{ !inputs.useTask }}
        run: go fmt ./...
      - name: golangci-lint
        if: ${{ !inputs.useTask }}
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
        with:
          version: latest
          args: --timeout 15m
      - name: lint task
        if: ${{ inputs.useTask }}
        run: task lint