name: Node Test
on:
  workflow_call:
    inputs:
      workingDirectory:
        required: false
        type: string
        default: './'
      release_branch:
        description: 'Name of the release branch'
        required: false
        type: string
        default: 'main'
      node_version:
        description: 'Node version to use'
        required: false
        type: string
        default: '24'
      artifactPath:
        required: false
        type: string
        default: 'dist'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: ${{ inputs.node_version }}
        registry-url: https://registry.npmjs.org
    - run: npm ci
      working-directory: ${{ inputs.workingDirectory }}
    - run: npm test
      working-directory: ${{ inputs.workingDirectory }}
    - run: npm run build
      working-directory: ${{ inputs.workingDirectory }}
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      if: ${{ (github.head_ref || github.ref) == format('refs/heads/{0}', inputs.release_branch ) }}
      with:
        name: target
        path: ${{ inputs.artifactPath }}
        retention-days: 1