name: Check Helm Chart Docs
on:
  workflow_call:
    inputs:
      chartFolder:
        description: 'The folder where the helm chart is located'
        required: true
        default: ''
        type: string
      headerFile:
        description: 'The header file to use for the helm-docs'
        required: false
        default: '../../docs-templates/header.md.gotmpl'
        type: string
      footerFile:
        description: 'The footer file to use for the helm-docs'
        required: false
        default: '../../docs-templates/footer.md.gotmpl'
        type: string

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@6f957579ac122ecc167bf515fe84e828686c9a15 # v1
        with:
          fail-on-diff: false
          chart-search-root: ${{ inputs.chartFolder }}
          template-files: ${{ inputs.headerFile }},README.md.gotmpl,${{ inputs.footerFile }}
          git-push: false
      - run: git diff --exit-code