name: Promote-Stack

on:
  workflow_call:
    inputs:
      sourceBranch:
        required: true
        type: string
      targetBranch:
        required: true
        type: string
      stackRepo:
        required: true
        type: string
    secrets:
      # This access token requires inter-repository access, so it cannot be the default GITHUB_TOKEN
      OPENMFP_PUBLISHER_PRIVATE_KEY:
        required: true

jobs:
  stack-promotion:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: app-token
        with:
          app-id: "838464"
          private-key: ${{ secrets.OPENMFP_PUBLISHER_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: ${{ inputs.stackRepo }}
          ref: ${{ inputs.targetBranch }}
          token: ${{ steps.app-token.outputs.token }}
      - name: Create promotion branch name
        id: branch
        run: |
          git fetch origin "${{ inputs.sourceBranch }}:${{ inputs.sourceBranch }}"
          git reset --hard "${{ inputs.sourceBranch }}"
          BRANCH_NAME="promote/${{ inputs.stackRepo }}-${{ inputs.sourceBranch }}-${{ inputs.targetBranch }}"
          echo "PULL_BRANCH_NAME=${BRANCH_NAME}" >> ${GITHUB_OUTPUT}
      - name: Create Pull Request
        id: pull
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          branch: ${{ steps.branch.outputs.PULL_BRANCH_NAME }}
          commit-message: "Promote: ${{ inputs.sourceBranch }} to ${{ inputs.targetBranch }}"
          title: "Promote: ${{ inputs.sourceBranch }} to ${{ inputs.targetBranch }}"
          body: "This pull requests promotes the changes of the `${{ inputs.sourceBranch }}`  branch to the `${{ inputs.targetBranch }}` branch. "
          delete-branch: true